table {
    margin: 0 auto;
}

td {
    outline: 1px solid black;
}

th, td {
    padding: 0.5em;
}

td > a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

button {
    margin: 0 1em;
}
